@model najdiPrevoz.Models.Trip

@{
	ViewBag.Title = "Delete";
}

<section id="One" class="wrapper style3">
	<div class="inner">
		<header class="align-center">
			
			<h2>Избриши патување</h2>
		</header>
	</div>
</section>

<section id="two" class="wrapper style2">
	<div class="inner">
		<div class="box">
			<div class="content align-center" >
				<div>
					<header class="align-center">
						<h2>Дали сигурно сакаш да го избришеш ова патување?</h2>
					</header>
					<hr />

					<div id="content2">
						<h4 style="background-color:#8a4680; color:white">
							@Html.DisplayNameFor(model => model.FromDestination)
						</h4>
						
						<h3>@Html.DisplayFor(model => model.FromDestination) </h3>

						<h4  style="background-color:#8a4680; color:white">@Html.DisplayNameFor(model => model.ToDestination)</h4>
						<h3>@Html.DisplayFor(model => model.ToDestination)</h3>

						<h4 style="background-color:#8a4680; color:white">Датум</h4>
						<h3>@Html.DisplayFor(model => model.Time)</h3>

						<h4 style="background-color:#8a4680; color:white">@Html.DisplayNameFor(model => model.Price)</h4>
						<h3>@Html.DisplayFor(model => model.Price)</h3>

					</div>
					<br />
					@using (Html.BeginForm())
					{
						@Html.AntiForgeryToken()

						<div class="form-actions no-color">
							<input type="submit" value="Избриши" class="button special" /> 
							<button class="button alt small">
								@Html.ActionLink("Врати се назад", "Index", null, new { style = "text-decoration:none;" })
							</button>
						</div>
					}
				</div>

			</div>
		</div>
	</div>
</section>


<style>
	#content2 {
		width:80%;
		margin: auto;
	}
	h4 {
		width: 60%;
		margin: auto;
	}
</style>

