@model IEnumerable<najdiPrevoz.Models.Trip>

@{
	ViewBag.Title = "MyTrips";
}

	<section id="One" class="wrapper style3">
		<div class="inner">
			<header class="align-center">
				<p></p>
				<h2>Моите патувања</h2>
			</header>
		</div>
	</section>

	<section id="two" class="wrapper style2">
		<div class="inner">
			<div class="box">
                <div class="content">
                    <header class="align-center">
                        <p>Патувањата кои сте ги креирале/учествувале </p>
                    </header>
                    
                    @*<div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Creator)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FromDestination)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ToDestination)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Time)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Capacity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FreeSeats)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AutoDescr)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Creator)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FromDestination)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ToDestination)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Capacity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FreeSeats)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AutoDescr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>

                            <a href="@Url.Action("Edit", "Trips", new { id = item.Id })" style="text-decoration:none; color:black;">Edit</a>


                            <a href="@Url.Action("Details", "Trips", new { id = item.Id })" style="text-decoration:none; color:black;">Details</a>


                            <a href="@Url.Action("Delete", "Trips", new { id = item.Id })" style="text-decoration:none; color:black;">Delete</a>



                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>*@

                    <p>
                        <button class="btn btn-default">
                            @Html.ActionLink("Креирај ново патување", "Create", null, new { style = "text-decoration:none; color:white;" })
                        </button>
                    </p>
                    <div class="table-wrapper">
                        <table class="tabela" id="dataTable">

                            <thead class="align-center" style="background-color: #8a4680">
                            <th class="align-center">
                                <strong style="color:white">Возач</strong>
                            </th>
                            <th class="align-center">
                                <strong style="color:white">Почетна дестинација</strong>
                            </th>
                            <th class="align-center">
                                <strong style="color:white">Крајна дестинација</strong>
                            </th>
                            <th class="align-center">
                                <strong style="color:white">Датум</strong>
                            </th>
                            <th class="align-center">
                                <strong style="color:white">Време</strong>
                            </th>
                            <th class="align-center">
                                <strong style="color:white">Број на седишта</strong>
                            </th>
                            @*<th class="align-center">
                    <strong style="color:darkslategrey">Број на слободни седишта</strong>
                </th>
                            *@
                            
                            <th class="align-center">
                                <strong style="color:white">Опис на патувањето</strong>
                            </th>
                            <th class="align-center">
                                <strong style="color:white">Цена по патник</strong>
                            </th>
                            <th></th>

                            </thead>
                            <tbody class="align-center">
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Creator)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FromDestination)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ToDestination)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Time)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TimeHourMin)

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Capacity)
                                        </td>
                                        @*
                            <td>
                                @Html.DisplayFor(modelItem => item.FreeSeats)
                            </td>
                                        *@
                                        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>
                                            
                                                <a href="@Url.Action("Edit", "Trips", new { id = item.Id })" style="text-decoration:none; color:black;">Edit</a>

                                            
                                            <a href="@Url.Action("Details", "Trips", new { id = item.Id })" style="text-decoration:none; color:black;">Details</a>

                                            
                                                <a href="@Url.Action("Delete", "Trips", new { id = item.Id })" style="text-decoration:none; color:black;">Delete</a>

                                            

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>


                </div>
			</div>
		</div>
	</section>


<style>
	.tabela {
	    color:black;
    }
</style>

