@using najdiPrevoz.Models
@model LoginViewModel
@{
	ViewBag.Title = "Log in";
}

<section id="One" class="wrapper style3">
		<div class="inner">
			<header class="align-center">
				<p></p>
				<h2>Логирај се</h2>
			</header>
		</div>
</section>

<section id="two" class="wrapper style2">
	<div class="inner">
		<div class="box">
			<div class="content align-center text-center" >
				<header class="align-center">
					<p>Внесете ги вашите e-mail и password</p>
					<h2>Најави се</h2>
				</header>


				<!--Ovde e standardnoto-->

				<div id="loginForm">
					@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
					{
						@Html.AntiForgeryToken()

						<hr />
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						<div class="form-group">
							@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
							<div class="col-md-10">
								@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
							</div>
						</div>
						<br />
						<div class="form-group">
							@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
							<div class="col-md-10">
								@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
							</div>
						</div>
						<br />
						<div class="form-group">
							<div class="col-md-offset-2 col-md-10">
								<div class="checkbox">
									@Html.CheckBoxFor(m => m.RememberMe)
									@Html.LabelFor(m => m.RememberMe)
								</div>
	
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-2 col-md-10">
								<a href="~/Views/Account/ChooseAction.cshtml">
									<input type="submit" value="Log in" class="button special" />
								</a>
							</div>
						</div>
						<br />
                        <button class="button alt">
                            @Html.ActionLink("Register as new user", "Register", "Account", null, new { style = "text-decoration:none; color:black;" })
						</button>
                            @* Enable this once you have account confirmation enabled for password reset functionality
        <p>
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </p>*@
                            }

                        </div>



			</div>
		</div>
	</div>
</section>

<style>
	.content {
		width:60%;
		margin:auto;
	}
</style>
